.f5 {
  font-size: 5px !important;
}

.f6 {
  font-size: 6px !important;
}

.f7 {
  font-size: 7px !important;
}

.f8 {
  font-size: 8px !important;
}

.f9 {
  font-size: 9px !important;
}

.f10 {
  font-size: 10px !important;
}

.f11 {
  font-size: 11px !important;
}

.f12 {
  font-size: 12px !important;
}

.f13 {
  font-size: 13px !important;
}

.f14 {
  font-size: 14px !important;
}

.f15 {
  font-size: 15px !important;
}

.f16 {
  font-size: 16px !important;
}

.f17 {
  font-size: 17px !important;
}

.f18 {
  font-size: 18px !important;
}

.f19 {
  font-size: 19px !important;
}

.f20 {
  font-size: 20px !important;
}

.f21 {
  font-size: 21px !important;
}

.f22 {
  font-size: 22px !important;
}

.f23 {
  font-size: 23px !important;
}

.f24 {
  font-size: 24px !important;
}

.f25 {
  font-size: 25px !important;
}

.f26 {
  font-size: 26px !important;
}

.f27 {
  font-size: 27px !important;
}

.f28 {
  font-size: 28px !important;
}

.f29 {
  font-size: 29px !important;
}

.f30 {
  font-size: 30px !important;
}

.f31 {
  font-size: 31px !important;
}

.f32 {
  font-size: 32px !important;
}

.f33 {
  font-size: 33px !important;
}

.f34 {
  font-size: 34px !important;
}

.f35 {
  font-size: 35px !important;
}

.f36 {
  font-size: 36px !important;
}

.f37 {
  font-size: 37px !important;
}

.f38 {
  font-size: 38px !important;
}

.f39 {
  font-size: 39px !important;
}

.f40 {
  font-size: 40px !important;
}

.f41 {
  font-size: 41px !important;
}

.f42 {
  font-size: 42px !important;
}

.f43 {
  font-size: 43px !important;
}

.f44 {
  font-size: 44px !important;
}

.f45 {
  font-size: 45px !important;
}

.f46 {
  font-size: 46px !important;
}

.f47 {
  font-size: 47px !important;
}

.f48 {
  font-size: 48px !important;
}

.f49 {
  font-size: 49px !important;
}

.f50 {
  font-size: 50px !important;
}

.f51 {
  font-size: 51px !important;
}

.f52 {
  font-size: 52px !important;
}

.f53 {
  font-size: 53px !important;
}

.f54 {
  font-size: 54px !important;
}

.f55 {
  font-size: 55px !important;
}

.f56 {
  font-size: 56px !important;
}

.f57 {
  font-size: 57px !important;
}

.f58 {
  font-size: 58px !important;
}

.f59 {
  font-size: 59px !important;
}

.f60 {
  font-size: 60px !important;
}

.f61 {
  font-size: 61px !important;
}

.f62 {
  font-size: 62px !important;
}

.f63 {
  font-size: 63px !important;
}

.f64 {
  font-size: 64px !important;
}

.f65 {
  font-size: 65px !important;
}

.f66 {
  font-size: 66px !important;
}

.f67 {
  font-size: 67px !important;
}

.f68 {
  font-size: 68px !important;
}

.f69 {
  font-size: 69px !important;
}

.f70 {
  font-size: 70px !important;
}

.f71 {
  font-size: 71px !important;
}

.f72 {
  font-size: 72px !important;
}

.f73 {
  font-size: 73px !important;
}

.f74 {
  font-size: 74px !important;
}

.f75 {
  font-size: 75px !important;
}

.f76 {
  font-size: 76px !important;
}

.f77 {
  font-size: 77px !important;
}

.f78 {
  font-size: 78px !important;
}

.f79 {
  font-size: 79px !important;
}

.f80 {
  font-size: 80px !important;
}

.f81 {
  font-size: 81px !important;
}

.f82 {
  font-size: 82px !important;
}

.f83 {
  font-size: 83px !important;
}

.f84 {
  font-size: 84px !important;
}

.f85 {
  font-size: 85px !important;
}

.f86 {
  font-size: 86px !important;
}

.f87 {
  font-size: 87px !important;
}

.f88 {
  font-size: 88px !important;
}

.f89 {
  font-size: 89px !important;
}

.f90 {
  font-size: 90px !important;
}

.f91 {
  font-size: 91px !important;
}

.f92 {
  font-size: 92px !important;
}

.f93 {
  font-size: 93px !important;
}

.f94 {
  font-size: 94px !important;
}

.f95 {
  font-size: 95px !important;
}

.f96 {
  font-size: 96px !important;
}

.f97 {
  font-size: 97px !important;
}

.f98 {
  font-size: 98px !important;
}

.f99 {
  font-size: 99px !important;
}

.f100 {
  font-size: 100px !important;
}

.lh5 {
  line-height: 5px !important;
}

.lh6 {
  line-height: 6px !important;
}

.lh7 {
  line-height: 7px !important;
}

.lh8 {
  line-height: 8px !important;
}

.lh9 {
  line-height: 9px !important;
}

.lh10 {
  line-height: 10px !important;
}

.lh11 {
  line-height: 11px !important;
}

.lh12 {
  line-height: 12px !important;
}

.lh13 {
  line-height: 13px !important;
}

.lh14 {
  line-height: 14px !important;
}

.lh15 {
  line-height: 15px !important;
}

.lh16 {
  line-height: 16px !important;
}

.lh17 {
  line-height: 17px !important;
}

.lh18 {
  line-height: 18px !important;
}

.lh19 {
  line-height: 19px !important;
}

.lh20 {
  line-height: 20px !important;
}

.lh21 {
  line-height: 21px !important;
}

.lh22 {
  line-height: 22px !important;
}

.lh23 {
  line-height: 23px !important;
}

.lh24 {
  line-height: 24px !important;
}

.lh25 {
  line-height: 25px !important;
}

.lh26 {
  line-height: 26px !important;
}

.lh27 {
  line-height: 27px !important;
}

.lh28 {
  line-height: 28px !important;
}

.lh29 {
  line-height: 29px !important;
}

.lh30 {
  line-height: 30px !important;
}

.lh31 {
  line-height: 31px !important;
}

.lh32 {
  line-height: 32px !important;
}

.lh33 {
  line-height: 33px !important;
}

.lh34 {
  line-height: 34px !important;
}

.lh35 {
  line-height: 35px !important;
}

.lh36 {
  line-height: 36px !important;
}

.lh37 {
  line-height: 37px !important;
}

.lh38 {
  line-height: 38px !important;
}

.lh39 {
  line-height: 39px !important;
}

.lh40 {
  line-height: 40px !important;
}

.lh41 {
  line-height: 41px !important;
}

.lh42 {
  line-height: 42px !important;
}

.lh43 {
  line-height: 43px !important;
}

.lh44 {
  line-height: 44px !important;
}

.lh45 {
  line-height: 45px !important;
}

.lh46 {
  line-height: 46px !important;
}

.lh47 {
  line-height: 47px !important;
}

.lh48 {
  line-height: 48px !important;
}

.lh49 {
  line-height: 49px !important;
}

.lh50 {
  line-height: 50px !important;
}

.lh51 {
  line-height: 51px !important;
}

.lh52 {
  line-height: 52px !important;
}

.lh53 {
  line-height: 53px !important;
}

.lh54 {
  line-height: 54px !important;
}

.lh55 {
  line-height: 55px !important;
}

.lh56 {
  line-height: 56px !important;
}

.lh57 {
  line-height: 57px !important;
}

.lh58 {
  line-height: 58px !important;
}

.lh59 {
  line-height: 59px !important;
}

.lh60 {
  line-height: 60px !important;
}

.lh61 {
  line-height: 61px !important;
}

.lh62 {
  line-height: 62px !important;
}

.lh63 {
  line-height: 63px !important;
}

.lh64 {
  line-height: 64px !important;
}

.lh65 {
  line-height: 65px !important;
}

.lh66 {
  line-height: 66px !important;
}

.lh67 {
  line-height: 67px !important;
}

.lh68 {
  line-height: 68px !important;
}

.lh69 {
  line-height: 69px !important;
}

.lh70 {
  line-height: 70px !important;
}

.lh71 {
  line-height: 71px !important;
}

.lh72 {
  line-height: 72px !important;
}

.lh73 {
  line-height: 73px !important;
}

.lh74 {
  line-height: 74px !important;
}

.lh75 {
  line-height: 75px !important;
}

.lh76 {
  line-height: 76px !important;
}

.lh77 {
  line-height: 77px !important;
}

.lh78 {
  line-height: 78px !important;
}

.lh79 {
  line-height: 79px !important;
}

.lh80 {
  line-height: 80px !important;
}

.lh81 {
  line-height: 81px !important;
}

.lh82 {
  line-height: 82px !important;
}

.lh83 {
  line-height: 83px !important;
}

.lh84 {
  line-height: 84px !important;
}

.lh85 {
  line-height: 85px !important;
}

.lh86 {
  line-height: 86px !important;
}

.lh87 {
  line-height: 87px !important;
}

.lh88 {
  line-height: 88px !important;
}

.lh89 {
  line-height: 89px !important;
}

.lh90 {
  line-height: 90px !important;
}

.lh91 {
  line-height: 91px !important;
}

.lh92 {
  line-height: 92px !important;
}

.lh93 {
  line-height: 93px !important;
}

.lh94 {
  line-height: 94px !important;
}

.lh95 {
  line-height: 95px !important;
}

.lh96 {
  line-height: 96px !important;
}

.lh97 {
  line-height: 97px !important;
}

.lh98 {
  line-height: 98px !important;
}

.lh99 {
  line-height: 99px !important;
}

.lh100 {
  line-height: 100px !important;
}
/*# sourceMappingURL=FontSize.css.map */