$white: #ffffff;
$black: #000000;

// Theme
$primary: #019ade;
$secondary: #e40521;
$primary-light: #35346c;

// Button
$btn-primary: #019ade;
$btn-secondary: #e40521;
$btn-terittary: rgba(228, 5, 33, 0.1);
$btn-terittary-text: #e40521;
$btn-terittary-loader: #e40521;
$btn-dark: #44161c;

// Typography
$text-primary: #019ade;
$text-secondary: #e40521;
$text-gray: #767676;
$text-href: #3290ff;
$text-black: #000000;
$text-error: #e40521;
$text-green: #09bd06;
$text-alert: #faff00;

// Input
$input-focus-border: #019ade;
$input-border: #bcbcbc;
$input-error: #e40521;
$input-placeholder: rgba(0, 0, 0, 0.4);
$input-select: #fef8f9;
$input-secondary-focus-border: #fef8f9;

// Checkbox
$checkbox-border: #adadad;
